*{
    padding: 0;
    margin:0;
}
html, body {
    height:80%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #c8d6d3, #aaafc4); /* or color / image */
}
.container h2{
    margin-top: 100px;
    text-align: center;
}
.container .add-homework {   
    margin: 20px auto;
    padding: 25px;
    width: 60%;              
}
.add-homework label{
    display: inline-block;
    width:100%;
    margin: 8px;
    text-align: left;
}
.add-homework input[type="text"],
.add-homework input[type="date"],
.add-homework select{
    border: 1px solid #030303;
    width: 100%;
    height: 50px;
    padding:0 8px;
}
 .add-btn{
   width: 180px;
   padding: 15px;
   margin: 15px auto;
   border:none;
   background-color: rgb(132, 132, 209);
   border-radius:15px;
   cursor: pointer;
   display:flex;
   align-items: center;
}
.add-btn:hover{
    background-color: greenyellow;
}
.error, .success {
    max-width: 400px;         
    margin: 10px auto;          
    padding: 10px 15px;         
    border-radius: 8px;         
    text-align: center;        
    font-size: 14px;            
    font-weight: bold;         
}
.error{
    background-color: rgb(212, 136, 136);
    
}
.success{
    background-color: rgb(188, 225, 133);
    
}
/*view homework */
.table-data h2{
    margin-top: 100px;
    text-align: center;
}
.table-data{
    margin: 40px auto;
    padding: 0 50px;
    text-align: left;
    width: 100%;
    max-width:1100px;
    overflow-x:auto;
    overflow-y:auto;
}
.table-data  td{
    width: fit-content;
}
.button{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.button a {
  white-space: nowrap;
}