*{
    padding: 0px;
    margin: 0px;
}
html, body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #c8d6d3, #aaafc4); /* or color / image */
}
.table-data h2{
    margin-top: 100px;
    text-align: center;
}
.table-data{
    margin: 40px auto;
    padding: 25px;
    text-align: center;
    max-width: 800px; 
    width: 100%;
    overflow-x: auto;
}