*{
    padding: 0;
    margin:0;
}
html, body {
    height:80%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #c8d6d3, #aaafc4); /* or color / image */
}
.table-data h2{
    margin-top: 100px;
    text-align: center;
}
.table-data{
    margin: 40px auto;
    padding: 0 55px;
    text-align: left;
    width: 100%;
    max-width:1100px;
    overflow-x:auto;
    overflow-y:auto;
}
input{
    outline: none;
    width: auto;
    border: none;
}
.button{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.button a {
  white-space: nowrap;
}