
.content{
    margin-top:100px;
    margin-left:350px ;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:18px;
   
}
.notice{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 55px;
    background-color: whitesmoke;
    border-radius: 18px;
    height: 85px;
    margin-top: 100px;
}
.notice div{
    margin-left:300px;
}


/* link boxes */
.content .total-class,.total-students,.total-teachers,.total-notice,.add-students,.add-class,.add-teachers{
    text-align: center;
    width: 210px;
    height: 110px;
    border-radius: 15px;
    padding: 6px;
}
.total-class{
background-color: rgb(199, 187, 170);
display: flex;
justify-content: space-around;
align-items: center;
}
.class-icon{
    background-color: rgb(93, 195, 93);
    width:45px;
    height: 45px;
    font-size: 25px;
    color: white;
}
.total-students{
    background-color: rgb(190, 146, 146);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.total-teachers{
    background-color: rgb(134, 209, 140);
     display: flex;
    justify-content: space-around;
    align-items: center;
}
.total-notice{
    background-color: rgb(109, 161, 204);
     display: flex;
    justify-content: space-around;
    align-items: center;
}

.quick-link h2 {
    grid-column: span 4;
}
.quick-link{
    margin-top:20px;
    margin-left:350px ;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap: 5px;
    
}

.add-students{
    background-color: rgb(118, 243, 249);
}
.add-class{
    background-color: rgba(149, 162, 70, 0.682);
}
.add-teachers{
    background-color: rgb(90, 84, 125);
}
@media only screen and (max-width: 600px){
    .content{
        grid-template-columns: 1fr 1fr;
         margin-top:120px;
         margin-left: 50px;
    }
}