*{
    padding: 0px;
    margin: 0px;
}
html, body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #c8d6d3, #aaafc4); /* or color / image */
}


.container .add-class {   
    margin: 40px auto;
    padding: 25px;
    text-align: center;
    width: 500px;              
}
.sub-head{
    margin-top:100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.add-btn{
    background-color: rgb(132, 132, 209);
   border-radius:15px;
    margin:15px;
    cursor: pointer;
}
.add-btn:hover{
background-color: rgb(85, 85, 149);

}
.add-class label{
    display: inline-block;
    width:180px;
    margin: 8px;
    text-align: left;
}
.add-class input,select{
    border-radius: 8px;
    border: 1px solid #ccc;
    width:50%;
    padding:0 8px;
    outline: none;
}
.error, .success {
    max-width: 400px;         
    margin: 10px auto;          
    padding: 10px 15px;         
    border-radius: 8px;         
    text-align: center;        
    font-size: 14px;            
    font-weight: bold;         
}
.error{
    background-color: rgb(212, 136, 136);
    
}
.success{
    background-color: rgb(188, 225, 133);
    
}
/*view classes */
.table-data h2{
    margin-top: 100px;
    text-align: center;
}
.table-data{
    margin: 40px auto;
    padding: 25px;
    text-align: center;
    max-width: 800px; 
    width: 100%;
    overflow-x: auto;
}